* {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.custom-nav {
    box-shadow: 0 .100rem .50rem rgba(0, 0, 0, 0.418)!important;
    overflow: hidden;

}

.custom-nav img {
    width: 50px;
    border-radius: 3px;
}

.image {
    min-width: auto;
    display: flex;
    align-items: center;
}

/*Logo Properties*/
.image-text img {
    width: 100px;
    border-radius: 6px;
}

.image {
    min-width: 60px;
    display: flex;
    align-items: center;
}

#logo {
    transition: all 0.5s ease;
}

#logo:hover{
    cursor: pointer;
    opacity: 0.9;
    color: rgb(11, 0, 111);
}/*Logo Properties*/

#nav-elements a {
    color: rgb(0, 0, 0);
    transition: all 0.4s ease;
}

#nav-elements a:hover{
    cursor: pointer;
    opacity: 0.9;
    color: rgb(222, 111, 14);
}

.custom-side {
    color:black;
}

.navbar-toggler{
    transition: all 0.5s ease;
    color:black;
}

.navbar-toggler:hover{
    cursor: pointer;
    opacity: 0.9;
    color: rgb(255, 255, 255);
}/*Hover Properties*/
