@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

/*Background Color*/
body {
    /*background-image: url("../img/bg.png");*/
    /*background-image: linear-gradient(90deg, rgb(244, 145, 232), rgb(61, 5, 221));*/
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

/*Nav Shadow*/
.custom-nav {
    box-shadow: 0 .150rem .50rem rgba(0, 0, 0, 0.418) !important;
}

/*Nav Shadow*/

.custom-nav img {
    width: 50px;
    border-radius: 50px;
}

.image {
    min-width: auto;
    display: flex;
    align-items: center;
}

.navbar-toggler {
    border: none;
    float: right;
}

/* Center Toggler Items */
.navbar .navbar-collapse {
    text-align: center;
}

/* Center Toggler Items */

/*Hover Properties*/
#custom-park {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 1.3rem;
    transition: all 0.5s ease;
}

#custom-park:hover {
    font-weight: bold;
    cursor: pointer;
    opacity: 0.9;
    color: rgb(222, 111, 14);
}

/*Logo Properties*/
.image-text img {
    width: 100px;
    border-radius: 6px;
}

.image {
    min-width: 60px;
    display: flex;
    /* margin-left: 100px; */
}

/*Logo Properties*/

#nav-elements a {
    color: rgb(0, 0, 0);
    transition: all 0.4s ease;
}

#nav-elements {
    justify-content: right;
}

#nav-elements a:hover {
    cursor: pointer;
    opacity: 0.9;
    color: rgb(222, 111, 14);
}

.custom-side {
    color: black;
}

.navbar-toggler {
    transition: all 0.5s ease;
    color: black;
}

.navbar-toggler:hover {
    cursor: pointer;
    opacity: 0.9;
    color: rgb(255, 255, 255);
}

/*Hover Properties*/
.custom-button {
    color: white;
    background-color: black;
    border-radius: 0px;
    transition: all 0.4s ease;
}

.custom-button:hover {
    cursor: pointer;
    opacity: 0.9;
}

/*Side Navigation Properties */
.sidebar {
    position: absolute;
    top: 50;
    left: 0;
    height: 100%;
    width: 220px;
    background: white;
    overflow-y: auto;
    padding-top: 20px;
    padding: 6px 14px;
    transition: all 0.5s ease;
    box-shadow: 10px 0 5px -5px rgba(0, 0, 0, 0.418);
    /* box-shadow: 0 .150rem .50rem rgba(0, 0, 0, 0.418) !important; */
}

/* Hide Scrollbar but keep functionality */
.body::-webkit-scrollbar {
    display: none;
}


.sidebar.active {
    width: 78px;
}

.nav-list i {
    font-size: 28px;
    margin-right: 5px;
}

.sidebar #btn {
    position: absolute;
    color: rgb(0, 0, 0);
    left: 90%;
    top: 0px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn {
    left: 50%;
}

.sidebar ul {
    margin-top: 30px;
}

.sidebar ul li {
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0 10px;
    list-style: none;
    line-height: 50px;
    align-items: center;
}

.sidebar .links-name {
    opacity: 1;
    pointer-events: auto;
}

.sidebar.active .links-name {
    opacity: 0;
    pointer-events: none;
}

.sidebar ul li a {
    color: black;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.5 ease;
    white-space: nowrap;
}

.sidebar ul li a:hover {
    color: rgb(222, 111, 14);
}

.sidebar ul li a i {
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .active-dashboard {
    font-weight: bold;
    color: rgb(222, 111, 14);
}
.sidebar .active-users {
    font-weight: bold;
    color: rgb(222, 111, 14);
}
.sidebar #log-out {
    bottom: -350px;
    left: 0;
    position: absolute;
}

/*Side Navigation Properties Ends */

/* To follow in sidebar */
.home-content {
    position: absolute;
    height: 100%;
    width: calc(100% - 240px);
    left: 220px;
    transition: all 0.5s ease;
}

.home-content .text {
    font-size: 25px;
    font-weight: 500;
    margin: 12px;
}
.home-content p {
    font-size: 20px;
    font-weight: 500;
    margin: 12px;
    text-align: center;
}
.sidebar.active~.home-content {
    width: calc(100% - 78px);
    left: 78px;
}
.sidebar.active~#custom-park {
    width: calc(100% - 78px);
    left: 240px;
}
/* To follow in sidebar */
